@model BookinSystem.Models.UserModel

@{
    ViewBag.Title = "WelcomeNewUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<link href="Content/RegFormStyle.css" rel="stylesheet">*@

<h2>Hi Jonny</h2>

<h3>Book your unit...</h3>

<div class="row">
    <div class="col-md-6">
        From<input type="text" class="some_class" readonly="readonly" value="" id="dateFrom" />
    </div>
    <div class="col-md-2">
        
    </div>
    <div class="col-md-6">
        To<input type="text" class="some_class" readonly="readonly" value="" id="dateTo" />
    </div>
 </div>

                <script>

                    //$('#datetimepicker_dark').datetimepicker({ theme: 'dark' })
                    $('.some_class').datetimepicker({ theme: 'dark' });

                </script>

                @*<div>
                <h4>UserModel</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Password)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Password)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ConfirmPassword)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ConfirmPassword)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.RegistrationDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RegistrationDate)
                    </dd>

                </dl>
            </div>*@
                <p>
                    @*@Html.ActionLink("Submit Reservation", "MakeReservation", null, new { @class = "btn btn-info" @click="regDetails();" })*@
                    <input type="button" class="btn btn-info" onclick="regDetails();" value="Submit Reservation" />
                    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
                    @Html.ActionLink("Back to List", "Index")*@
                </p>

<script>
    function regDetails() {
        window.location.href = '@Url.Action("MakeReservation")?dateFrom=' + $('#dateFrom').val() + '&dateTo=' + $('#dateTo').val();
    }
</script>