@model BookinSystem.Models.UserModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*<link href="Content/RegFormStyle.css" rel="stylesheet">*@


@if (User.Identity.IsAuthenticated)
{
<h2>Hi Jonny</h2>

<h3>Book your unit...</h3>

<div class="row">
    <div class="col-md-6">
        From<input type="text" class="some_class" readonly="readonly" value="" id="dateFrom" />
    </div>
    <div class="col-md-2">
        
    </div>
    <div class="col-md-6">
        To<input type="text" class="some_class" readonly="readonly" value="" id="dateTo" />
    </div>
 </div>
<br/>
@Html.LabelFor(model => model.TotalPaymentDue, htmlAttributes: new { @class = "control-label col-md-2" })

                <script>

                    //$('#datetimepicker_dark').datetimepicker({ theme: 'dark' })
                    $('.some_class').datetimepicker({ theme: 'dark' });

                </script>

                @*<div>
                <h4>UserModel</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Password)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Password)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ConfirmPassword)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ConfirmPassword)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.RegistrationDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RegistrationDate)
                    </dd>

                </dl>
            </div>*@
                <p>
                    @*@Html.ActionLink("Submit Reservation", "MakeReservation", null, new { @class = "btn btn-info" @click="regDetails();" })*@
                    <input type="button" class="btn btn-info" onclick="regDetails();" value="Submit Reservation" />
                    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
                    @Html.ActionLink("Back to List", "Index")*@
                </p>
}
else
{
    
}

<script>
    function regDetails() {
        $.ajax({
            url: '/Reservation',
            type: 'POST',
            data: {
                dateFrom: $('#dateFrom').val(),
                dateTo: $('#dateTo').val()
            },
            //contentType: 'application/json; charset=utf-8',
            success: function (response) {
                //alert(data.success);
            },
            error: function () {
                //Send error to error table in database
                //alert("error");
            }
        });
        @*window.location.href = '@Url.Action("Reservation","MakeReservation")?dateFrom=' + $('#dateFrom').val() + '&dateTo=' + $('#dateTo').val();*@
    }
</script>